
.selectedPage{
    font-weight: bold;

}

.pagination{
    margin: 10px;
}

.pageNumber{
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage{
    font-weight: bold;
    border-color: black;
}

.pagination span {
    cursor: pointer;
    padding: 1px 2px;
}