.app-wrapper {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: green;
}

.header img {
  width: 40px;
  position: absolute;
  top: 50%;
  top: 1.5%;
  left: 4%;
}
.nav {
  grid-area: n;
  background-color: burlywood;
}
.content {
  grid-area: c;
  background-color: cornflowerblue;
}
.content img {
  width: 100%;
}
