.app-wrapper {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 11fr;
  grid-gap: 10px;
}

body{
  background: url('https://t4.ftcdn.net/jpg/01/23/60/47/360_F_123604771_IOtdy5cM3yLshKlH01ynRUsvHmbfUvmd.jpg') top / cover no-repeat;
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}
